<!-- $Contact section-->
<section class="contact" id="contact">
    <div class="contact__inner">
        <form class="contact__form" action="" method="post">
            <input class="contact__form-input" id="name" type="text" name="name" placeholder="Your name">
            <input class="contact__form-input" id="email" type="email" name="email" placeholder="Your email">
            <textarea class="contact__form-tarea" id="message" name="message" placeholder="Your message"></textarea>
            <input class="contact__form-submit" type="submit" value="Submit">
        </form>
        <div class="contact__card vcard">
            <h3 class="contact__card-title">IMPRESSUM</h3>
            <div class="contact__card-item place">
                <div class="fn org">Joie Anne Sophie Gabrido & Can Zurnaci</div>
                    <div class="street-address">c/o HAW Hamburg Fakultät DMI Finkenau 35 22081 Hamburg </div>
                    <span>C3 Media und Information, SS 2018</span>
		</div>		
		<div class="contact__card-item place">
		</div>				                
            <a class="contact__card-item email" href="#">info@instantramen.de</a></div>
    </div>
</section>