<!-- $Page header-->
<header class="page-header js-header">
  <div class="page-header__inner">
    <div class="page-header__logo">
      <h1>Dein Ramenratgeber in Deutschland</h1>
    </div>
    <nav class="page-header__nav js-nav">
      <ul>
        <li><a class="page-header__nav-link js-anchor js-link is-active" href="#home">Start</a></li>
        <li><a class="page-header__nav-link js-anchor js-link" href="#portfolio">Inhalte</a></li>
        <!-- <li><a class="page-header__nav-link js-anchor js-link" href="#team">Mach mit!</a></li> -->
        <li><a class="page-header__nav-link js-anchor js-link" href="#contact">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>