<div id="menu_outer">
<div class="navbar">
  <a href="/">Home</a>
  <a href="/info">Info</a>    
  <div class="dropdown">
    <button class="dropbtn">Restaurants 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/restaurants">All</a>
      <a href="/restaurants/berlin">Berlin</a>
      <a href="/restaurants/dortmund">Dortmund</a>
      <a href="/restaurants/dusseldorf">Düsseldorf</a>
      <a href="/restaurants/frankfurt">Frankfurt</a>
      <a href="/restaurants/hamburg">Hamburg</a>
      <a href="/restaurants/koln">Köln</a>
      <a href="/restaurants/leipzig">Leipzig</a>
      <a href="/restaurants/munchen">München</a>
      <a href="/restaurants/nurnberg">Nürnberg</a>
      <a href="/restaurants/stuttgart">Stuttgart</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Supermarkets 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/supermarkt">All</a>
      <a href="/supermarkt/berlin">Berlin</a>
      <a href="/supermarkt/dortmund">Dortmund</a>
      <a href="/supermarkt/dusseldorf">Düsseldorf</a>
      <a href="/supermarkt/frankfurt">Frankfurt</a>
      <a href="/supermarkt/hamburg">Hamburg</a>
      <a href="/supermarkt/koln">Köln</a>
      <a href="/supermarkt/leipzig">Leipzig</a>
      <a href="/supermarkt/munchen">München</a>
      <a href="/supermarkt/nurnberg">Nürnberg</a>
      <a href="/supermarkt/stuttgart">Stuttgart</a>
      <a href="/supermarkt/bremen">Bremen</a>
      <a href="/supermarkt/hannover">Hannover</a>
    </div>
  </div>
  <a href="/rezept">Recipes</a>
  <a href="/toppings">Ramen Toppings</a>
  <a href="/ramenmarke">Ramenmarke</a>
  <a href="/ueberuns">Über uns</a>
</div>
</div>