<!-- $Promo section-->
<section class="promo js-jumbo" id="home">
  <img src = "assets/images/header_promo.jpg" class= "responsive header" alt="Willkommen auf der Seite, die dich (wenn du es nicht bereits bist) definitiv hungrig machen wird. Hier kannst du alles erfahren, was es schmackhaftes über Ramen zu wissen gibt."/>
  <p class="promo_text">Willkommen auf der Seite, die dich <i>(wenn du es nicht bereits bist)</i> definitiv hungrig machen wird. Hier kannst du alles erfahren, was es schmackhaftes über Ramen zu wissen gibt.</p>
  <!-- <a class="promo__btn" href="#">Lesen Sie mehr</a> -->
</section>
